    <br>
    <br>
    <main>
      <ng-view></ng-div>
    </main>
    <div class = "container-fluid">
        <div class = "well well-sm"><h6 class = "text-center"><small>Group 11 Project, COP 4331, Fall 2017</small>
    </div>
  </body>
  
  <script src="//code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-resource/1.6.4/angular-resource.js" charset="utf-8"></script>
  <script id="gmapsapi" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMmizdLgDclC7u-cqYFP1pD12hq6rpFLA"
  async defer></script>
  <script src="js/controllers.js" charset="utf-8"></script>
  <script src="js/directives.js" charset="utf-8"></script>
  <script src="js/filters.js" charset="utf-8"></script>
  <script src="js/services.js" charset="utf-8"></script>
  <script src="js/app.js" charset="utf-8"></script>
</html>