<% include partials/header %>

    <div class = "container">
        <br>
        <h1 class = "text-center">404</h1>
        <p>How did you even get here?</p>
    </div>


<% include partials/footer %>