<% include partials/header %>
<br>
<br>
<div class="container">
    <h3>Help</h3>
    <br>
    <div class="card">
      <h4 class="card-header">Registering</h4>
        <div class = "container">
            <br>
            <div class="card-block">
            <h5 class="card-title">To be able to use this website, you must create an administrator account.</h5>
            <p class="card-text">To protect the location information of employees associated with your company, all of our pages
            are protected to make sure that unauthorized users cannot view them. This means that to be able to view these pages,
            you must create an administrator account. You can do this by clicking the "register" link at the top right corner of the page.</p>
            <p class="card-text"><span class="badge badge-primary badge-pill">Important</span>You must provide a unique email address and username to successfully create an administrator account.
            Your name should consist only of the letters A to Z, hyphens, spaces, or apostrophes. Usernames can only have letters A to Z and numbers 0 - 9.</p>
          </div>
        </div>
        <br>
    </div>
    <br>
    <div class="card">
      <h4 class="card-header">Logging In</h4>
        <div class = "container">
            <br>
            <div class="card-block">
            <h5 class="card-title">After you have successfully created an account, you can log in.</h5>
            <p class="card-text">Now that you have successfully created an administrator account, you can log in using your specified username
            and password combination by clicking the "Login" link at the top right corner of the page.</p>
            <p class="card-text">If you have successfully logged in, you should see in the top right corner "Signed in as", followed by your username, and the
            option to log out.</p>
            <p class="card-text"><span class="badge badge-primary badge-pill">Important</span>
            Non-administrator users <b>can</b> log in using their account information, but they will not be able to access any of the blocked pages. They must have
             administrator or support-level accounts to do so. This is to protect the privacy of all employees.</p>
          </div>
        </div>
        <br>
    </div>
    <br>
    <div class="card">
      <h4 class="card-header">Logging Out</h4>
        <div class = "container">
            <br>
            <div class="card-block">
            <h5 class="card-title">Always make sure to log out when you're done.</h5>
            <p class="card-text">Because this site contains sensitive information that could potentially endanger people, it's of the 
            utmost importance that you log out of your account at the end of every session. To do this, be sure to click the "Logout" link
            that appears at the top right corner of every page. If you have successfully logged out, the website will display a message 
            letting you know.</p>
          </div>
        </div>
        <br>
    </div>
    <br>
    <div class="card">
      <h4 class="card-header">Profile</h4>
        <div class = "container">
            <br>
            <div class="card-block">
            <h5 class="card-title">As an administrator, you can view your profile information at any time.</h5>
            <p class="card-text">When you log in on this website with your administrator profile, your username will appear
            in the top right corner of every page. You can click on your username and it will take you to your profile page.</p>
            
            <p class="card-text">If you so choose, you can edit the information associated with your profile at any time, such as your first name,
            last name, and job position. You can do this by going to your profile and clicking the "Edit" button next to your name.</p>
          </div>
        </div>
        <br>
    </div>
    <br>
    <div class="card">
      <h4 class="card-header">Employees</h4>
        <div class = "container">
            <br>
            <div class="card-block">
            <h5 class="card-title">You can view location and task information about employees associated with your company via this site.</h5>
            <p class="card-text">You can either view a singular employee, or a list of all employees. A list of all employees is shown by
            default when you click the "Employees" link in the menu at the top of any page.</p>
            
            <p class="card-text">To view an individual employee, you can click on their name from the list. This will bring you to a page showing their
             associated tasks, their most recent location update and the time it was captured, and picture of them.</p>
             
            <p class="card-text"><span class="badge badge-primary badge-pill">Important</span>
            You cannot edit the information of or delete the account for another employee in your organization. If you need an employee
             removed for any reason, ask a member of your support team to remove this employee for you.</p>
          </div>
        </div>
        <br>
    </div>
    <br>
    <div class="card">
      <h4 class="card-header">Tasks</h4>
        <div class = "container">
            <br>
            <div class="card-block">
            <h5 class="card-title">You can create tasks and assign them to your employees using this site.</h5>
            <p class="card-text">To view a list of all current tasks (whether complete or not), simply select "View All Tasks" from the
             dropdown menu available at the top of any page. To view the information on an individual task, such as who it was assigned to,
              simply click the link associated with the task's name.</p>
            
            <p class="card-text">You can also select to create a new task from the dropdown menu.
            When you choose to create a new task, you have the option of assigning it to one or more employees.</p>
            <p class="card-text">If you would like to assign a task to other employees after you created it, go to the task's page and
             click the "edit" button next to its name. Here, you can also edit the task name, due date, and description.</p>
          </div>
        </div>
        <br>
    </div>
    <br>
    <div class="card">
      <h4 class="card-header">Teams</h4>
        <div class = "container">
            <br>
            <div class="card-block">
            <h5 class="card-title">This part of the site is currently under construction.</h5>
            <p class="card-text">Bleep bloop.</p>
          </div>
        </div>
        <br>
    </div>
</div>

<% include partials/footer %>