<div class="container col-lg-8">
  <div class="container row">
    <h3>Dashboard/Home page</h3>
  </div>
  <div class="container row">
    <ul>
      <li><a href="/register">Register</a></li>
      <li><a href="/login">Log in</a></li>
      <li><a href="/user/lknope">Random profile: user lknope</a></li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut hendrerit at est quis porttitor. Nunc ac enim at elit tincidunt luctus ac quis dolor. Vestibulum convallis dolor eget velit dapibus, finibus sollicitudin ligula interdum. Donec sollicitudin pulvinar consectetur. Vivamus mattis tempus porttitor. Nulla facilisi. In consequat, mi ac tincidunt pellentesque, elit quam egestas sapien, sit amet lacinia nisi lectus in turpis. Vestibulum placerat euismod nulla, et viverra urna tincidunt sit amet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce at ornare orci. Fusce ac aliquam mauris, at ultricies nisl. In hac habitasse platea dictumst. Nulla vel interdum mi. Pellentesque dictum id justo suscipit cursus.</p>
    <p>Curabitur ac ligula sodales, tincidunt nulla sed, bibendum augue. Proin vel erat nec nunc ullamcorper efficitur. Pellentesque ac dolor ac dui faucibus aliquet ut at diam. Nulla facilisi. Quisque sollicitudin nisl ut ante condimentum ultricies. In non volutpat mauris, nec tempor libero. Proin posuere scelerisque dolor, vitae accumsan libero placerat quis. Duis sit amet diam fermentum, cursus ipsum et, tristique augue. Nullam dignissim quam vitae nisl placerat, at fringilla urna volutpat. Nunc condimentum nunc ut libero lacinia sagittis.</p>
    <p>Duis a ligula lobortis, placerat enim sit amet, tempus dui. Cras blandit molestie sapien at auctor. Phasellus scelerisque molestie urna at porttitor. Curabitur vitae elementum nibh, tincidunt faucibus augue. Praesent sollicitudin turpis et enim ultricies, sit amet consectetur purus vulputate. Nullam nisi eros, varius ornare malesuada id, maximus sit amet eros. Nulla laoreet lorem eleifend malesuada lobortis. Integer quis neque dapibus, vehicula libero et, feugiat libero. Maecenas ullamcorper efficitur eros, non interdum lacus elementum at. Vivamus vehicula justo vitae libero mollis sagittis. Sed hendrerit nec sapien eu lacinia. Sed vitae arcu pellentesque, pellentesque orci convallis, porta ipsum. Nullam vitae neque vestibulum, scelerisque velit sit amet, vestibulum risus.</p>
  </div>
</div>
