<% include partials/header %>
<br>
<br>
<div class="container">
  <div class="container row">
    <h3>Dashboard</h3>
  </div>
  <br>
  <div class="container row">
    <p>Welcome to the Big Brother Employee Tracker. In this web application, you can view a list of employees associated with your
    organization, view individual employee's information and most recent location updates, and a list of their assigned tasks.</p>
    <p>You can also create a task and assign it to employees, and receive updates here when that task is completed.</p>
    <p>To continue, please be sure to log in, as you cannot access these pages without an administrator account.</p>
    <p></p>
    <br>
  </div>
      <a href="/help">For help, see this page.</a>
</div>

<% include partials/footer %>